.cajapadre{
   
    display: grid;
    grid-template-columns:650px  650px ; 
    color: aliceblue;
    gap: 10px;
background-color: #454545;
}



.a{
    color: aliceblue;
    display: flex;
    justify-content: center;
align-items: center;
background-color: #454545;

}