
.centrar{ 
    background-color: #b6d6ff;
    display: flex;
    justify-content: center;
    align-items: center;
} /*   Poder centrar los cuadros de los subtitulos    */
.b{
    background-color: #7a94e8; /*color del titulo servicios */

}
.servicios{

    display: grid;
grid-template-columns:400px  400px 400px; 

gap: 20px;
}/* Ordenar las filas y columnas*/
.servicioshijos{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    margin: 0px; 
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}/* Centrar el tamaño y la letra */
.boton1{
  
    font-family: 'ProximaNovaRegular';
font-size: 18px;
color: #fff;
text-transform: none;
margin: 15px 0px 0px 0px;
padding: 15px 35px;
background-color: #008CBA;
border-color: #007095;
}/* El boton de los servicios*/
