


 .contenedorPadreParrafos{

display: grid;
grid-template-columns:650px  650px ; 

gap: 10px;
 }/*Centrar las columnas*/
 .centrarParrafo{
    background-color:#7a94e8;
display: flex;
justify-content: center;
align-items: center;
 }/* Agregar el color de fondo de los valores y centrarlos */

 .contenedoresHijosParrafos{
    font-size: 14px;
margin: 0px; 
text-transform: none;
font-family: 'Roboto', sans-serif;
padding-bottom: 10px;
 } /*Ordenar el contenido de los valores y el tipo de letra*/
 .contendorj{
    display: flex;
    justify-content: center;
    align-items: center;
}

.abc{
    background-color: #46588e;
}
 .centrar{
   
    background-color: #46588e;
  

 }

.general{
    display: grid;
    grid-template-columns: 950px 0px;
 
}
.contendorh{

    display: flex;
    justify-content: center;
    align-items: center;

}

.cajapadre{
    background-color:#19233e;
    display: grid;
    grid-template-columns:650px  650px ; 
    
    gap: 10px;

}

.a{
    
    display: flex;
    justify-content: center;
align-items: center;
    background-color:#000000;
}/*Centrar y color de la ultima parte de la pag */
  
.color{
    background-color: #b6d6ff;/*color del titulo*/
}